[submodule "bundle/vim-autoclose"]
	path = bundle/vim-autoclose
	url = https://github.com/Townk/vim-autoclose.git
[submodule "vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "bundle/vim-colorschemes"]
	path = bundle/vim-colorschemes
	url = https://github.com/notwa/vim-colorschemes.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/vim-mustache-handlebars"]
	path = bundle/vim-mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/php.vim--Garvin"]
	path = bundle/php.vim--Garvin
	url = https://github.com/vim-scripts/php.vim--Garvin.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/textile.vim"]
	path = bundle/textile.vim
	url = https://github.com/timcharper/textile.vim.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "bundle/editorconfig-vim"]
	path = bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "bundle/vim-nerdtree-tabs"]
	path = bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "bundle/ansible-vim"]
	path = bundle/ansible-vim
	url = https://github.com/pearofducks/ansible-vim
[submodule "bundle/fzf.vim"]
	path = bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "bundle/bufexplorer.vim"]
	path = bundle/bufexplorer.vim
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "bundle/vim-liquidsoap"]
	path = bundle/vim-liquidsoap
	url = https://github.com/mcfiredrill/vim-liquidsoap.git
[submodule "bundle/vim-jinja2-syntax"]
	path = bundle/vim-jinja2-syntax
	url = https://github.com/Glench/Vim-Jinja2-Syntax.git
